*.DS_Store
/.CFUserTextEncoding
/.Xauthority
/.adobe/
/.bash_history
/.cups/
/.dbshell
/.dropbox/
/.fontconfig/
/.gem/
/.heroku/
/.irb_history
/.mplayer/
/.node_libraries/
/.npm/
/.parallels/
/.rails-plugin-sources
/.rbenv/
/.rvm/
/.serverauth.276
/.sqlite_history
/.ssh/
/.subversion/
/.viminfo
/.wapi/
/.zcompdump
/.zsh-update
/.zsh_history
/.nvm
/.config/
/.local/
/.netrc
/.node-gyp/
/.spumux
/.psql_history
/.pgadmin_histoqueries
/pgadmin.log
/.pgpass
/.recently-used
/.vim/.netrwhist
/Code/
/Desktop/
/Documents/
/Downloads/
/Dropbox/
/Library/
/Movies/
/Music/
/Pictures/
/Public/
/Sites/
/Evernote Export/
/Google Drive/
/Paprika Export/
/Personal/
/Software/
/iPhoto Library/
/iTunes Library/
*.orig
